<div class="alert alert-success" *ngIf="selectedBook">
    <h5 class="text-center text-info">A propos de: "{{selectedBook.title}}"</h5>
    <h5 class="text-center text-dark">Nom de l'auteur: {{selectedBook.name}},
      Description: {{selectedBook.description}} Référence: {{selectedBook.ref}}.</h5>
    <div class="container content-center" *ngIf="loggedIn===true">
      <h5 class="text-center text-danger">Editer le livre ci-dessous si vous le souhaitez</h5>
      <label>
        Editer l'ID:
        <input type="text" [formControl]="newID" placeholder="{{selectedBook.id}}">
        Editer le nom:
        <input type="text" [formControl]="newName" placeholder="{{selectedBook.name}}">
        Editer le titre:
        <input type="text" [formControl]="newTitle" placeholder="{{selectedBook.title}}">
        Editer la référence:
        <input type="text" [formControl]="newRef" placeholder="{{selectedBook.ref}}">
        Editer la description:
        <input type="text" [formControl]="newDescription" placeholder="{{selectedBook.description}}">
      </label>
      <div class="btn btn-dark btn-sm text-success btn-center"
           (click)="editBook(selectedBook,newID,newName,newTitle,newRef,newDescription)">Editer la sélection
      </div>
  </div>
  <app-bookdetails></app-bookdetails>
</div>

<div class="container-fluid" *ngIf="loggedIn===true">
  <div class="jumbotron" style="background-color: lightpink !important" *ngFor="let book of secretBooks">
    <h1 class="display-4">Exclusif: {{book.title}}</h1>
    <h4 class="display-5">{{book.name}}</h4>
    <p class="lead">{{book.description}}</p>
    <hr class="my-4">
    <p>{{book.ref}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-space" (click)="onSelect(book)">Sélectionner</a>
      <a class="btn btn-primary btn-lg btn-space" (click)="onSecretDelete(book)">Supprimer</a>
    </p>
  </div>
</div>

<app-bookdetails [book]="selectedBook"></app-bookdetails>

<div class="container align-content-center">
</div>


<div class="container-fluid">
  <div class="jumbotron border border-info" style="background-color: lightgoldenrodyellow !important"
       *ngFor="let book of books">
    <h3 class="display-4">Disponible:
      <div class="text-secondary">{{book.title}}</div>
    </h3>
    <h4 class="display-5">{{book.name}}</h4>
    <p class="lead">{{book.description}}</p>
    <hr class="my-4">
    <p>{{book.ref}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-space" (click)="onSelect(book)">Sélectionner</a>
      <a class="btn btn-primary btn-lg btn-space" *ngIf="loggedIn===true" (click)="onDelete(book)">Supprimer</a>
    </p>
  </div>
</div>

<div class="text-center">
<button type="submit" class="btn btn-large btn-success align-content-center" *ngIf="loggedIn===true" (click)="toggleUpdate()">Activer la création de nouveaux livres</button>
</div>

<div class="text-center">
<div class="card align-content-center" *ngIf="loggedIn===true && isToUpdate===true">
  <form>
    <div class="form-group form-horizontal">
      <label>ID</label>
      <input type="text" [formControl]="newID">
    </div>
    <div class="form-group">
      <label>Nom</label>
      <input type="text" [formControl]="newName">
    </div>
    <div class="form-group">
      <label>Titre</label>
      <input type="text" [formControl]="newTitle">
    </div>
    <div class="form-group">
      <label>Référence</label>
      <input type="text" [formControl]="newRef">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" [formControl]="newDescription">
    </div>
    <button type="submit" class="btn btn-success" (click)="createBook(newID,newName,newTitle,newRef,newDescription)">
      Ajouter le nouveau livre
    </button>
  </form>
</div>
</div>



