<div class="example-container mat-elevation-z8">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Bienvenue <span *ngIf="loggedIn===true">{{user.firstName}} {{user.lastName}}, </span> au
          <div class="text-black-50 display-4">BookStore</div>
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p class="text-dark">Connectez-vous pour accéder à toutes les fonctionnalités</p>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-space" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button
                  color="primary">Se
            connecter via Facebook
          </button>
          <button type="button" class="btn btn-space" onclick="window.location.href = 'https://www.facebook.com/';"
                  *ngIf="loggedIn===false" mat-flat-button color="primary">Créer un compte sur Facebook
          </button>
          <button type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button color="primary">Se
            déconnecter
            via Facebook
          </button>
          <app-search></app-search>
        </div>
        <div class="float-center" *ngIf="loggedIn===true">
          <hr>
          <mat-card-subtitle class="text-black-50">Connecté en tant que {{user.firstName}} {{user.lastName}} avec accès
            aux livres exclusifs
          </mat-card-subtitle>
          <img class="img-thumbnail" [src]="user.photoUrl" alt="Facebook Photo">
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


</div>
<!--<div class="container-fluid align-content-start">

</div>-->

<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg navbar-light"></nav>
  <app-book [loggedIn]="loggedIn"></app-book>
</div>


